:root{
    --main-font-family: 'Roboto', sans-serif;
    --logo-font-family: 'Raleway', sans-serif;
    
    --main-font-color: #212121;
    --main-font-on-dark-fon-color: #ffffff;
    --secondary-font-color: #757575;
    --address-footer-a-color: rgba(255, 255, 255, 0.6);

    --secondary-bg-color: #F5F4FA;
    --member-card-bg-color: #ffffff;
    --what-we-do-card-header-bg-color: rgba(47, 48, 58, 0.8);
    --footer-bg-color: #2F303A;

    --header-border-color: #ECECEC;
    --clients-border-color: #AFB1B8;
    --portfolio-card-border-color: #EEEEEE;
    
    --main-hover-color: #2196F3;

    --max-width: 1200px;
}

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* body ===================================================================== */
body{
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    letter-spacing: 0.03em;
}

/* some reset ===================================================================== */
a{ text-decoration: none; }

address{ font-style: normal; }

ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p, h2{
    margin: 0;
}

/* Header ===================================================================== */
header{
    color: var(--main-font-color);
    border: 1px solid var(--header-border-color);;
}

.section{
    margin: 0 auto;
    max-width: var(--max-width);
    padding-left: 15px;
    padding-right: 15px;
}

.index-no-border{
    border: 0;
}

.wrapper-in-header{
    height: 80px;
}

.flex-container{
    display: flex;
    align-items: stretch;
    flex-grow: 2;
    flex-wrap: wrap;

}

    header li, header a{
        display: block;
        line-height: 77px;
        font-weight: 700;
        color: var(--main-font-color);
    }

        .logo{
            margin-right: 85px;
            font-family: var(--logo-font-family);
            font-size: 26px;
            color: var(--main-font-color);
            text-decoration: none;
        }

            .logo span{ color: var(--main-hover-color); }

        .top,
        .top-nav-ul,
        .addres-header{
            font-size: 14px;
        }

            .top-nav-ul li:not(:last-child){
                margin-right: 50px;
            }
        
        .addres-header{
            flex-grow: 1;
        }

            .addres-header a{ color: var(--secondary-font-color); }

            .contact li:not(:last-child){
                margin-right: 30px;
            }
            
            .contact li{
                background-repeat: no-repeat;
                background-position: left;
            }

            .envelope{ /* small icon */
                padding-left: 20px;
                background-image: url("../images/envelope.svg");
            }

            .phone{ /* small icon */
                padding-left: 15px;
                background-image: url("../images/smartphone.svg");
            }

    /*menu hover effect ==================== */
    .active-page,
    .top-nav-ul a:hover,
    .top-nav-ul a:focus{
        color: var(--main-hover-color);
        border-bottom: solid 3px var(--main-hover-color);
        border-collapse: collapse;
    }
    
    address a:hover,
    address a:focus{
        color: var(--main-hover-color);
    }


/*Footer ===================================================================== */
footer{
    color: var(--main-font-on-dark-fon-color);
    background-color: var(--footer-bg-color);
}
    .wrapper-in-footer{
        padding-top: 60px;
        max-width: var(--max-width);
    }

    footer div{
        vertical-align: top;
    }

    .logo-and-contact{
        margin-right: 70px;
        padding-bottom: 60px;
    }

    .logo-and-contact .logo,
    .join b,
    .subscribe b{
        display: block;
        margin-bottom: 20px;
    }

    .join{
        width: 206px;
        margin-right: 94px;
    }

    .join .social{
        justify-content: space-between;
    }

        footer .logo{ color: var(--main-font-on-dark-fon-color); }

    .addres-footer ul li{
        margin-bottom: 9px;
    }

    .addres-footer ul li a{
        font-family: var(--main-font-family);
        font-style: normal;
        font-weight: 400;
        line-height: 1.7;
        font-size: 14px;
        color: var(--address-footer-a-color);
    }


/*Main element ===================== index.html ================================================*/
.hero{
    text-align: center;
    background-image: url("../images/hero-image.jpg");
    background-position: center;
    height: 600px;
    margin-bottom: 94px;
}

    .wrapper-bg-transparent-in-hero{
        background-color: rgba(47, 48, 58, 0.8);
        height: 100%;
    }

    .hero h1{
        margin: 0;
        padding-top: 200px;
        padding-bottom: 30px;
        color:var(--main-font-on-dark-fon-color);
        font-family: var(--main-font-family);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    .hero button{
        padding: 10px 32px;
        line-height: 1.9;
        background-color: var(--main-hover-color);
        font-family: var(--main-font-family);
        color: var(--secondary-bg-color);
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 0;
        border-radius: 4px;
    }

.wrapper-full-width{
    background-color: var(--secondary-bg-color);
}

.section-title{
    font-size: 36px;
    line-height: 1.17;
}



/*in section benefits ===================== index.html ================================================*/
.benefits{
    margin-bottom: 94px;
}

.hidden-header-h{
    line-height: 0;
    font-size: 0;
}

.benefits-list{
    justify-content: space-between;
    text-align: center;
}

    .benefits-list li{
        width: 270px;
        text-align: left;
    }

        .benefits-list div{
            text-align: center;
            background-color: var(--secondary-bg-color);
            line-height: 120px;
            border-radius: 4px;
        }

            .benefits-list div img{
                vertical-align: middle;
            }

        .benefits-list p{
            font-family: var(--main-font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
            color: var(--secondary-font-color);
        }



/*in section what-we-do ===================== index.html ================================================*/
.what-we-do{
    margin-bottom: 94px;
}

.section-title{
    margin-bottom: 50px;
    text-align: center;
}

.what-we-do-list{
    justify-content: space-between;
}

.what-we-do a{
    color: var(--main-font-on-dark-fon-color);
}

    .what-we-do h3{
        background-color: var(--what-we-do-card-header-bg-color);
        line-height: 70px;
        font-family: var(--main-font-family);
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }



/*in section our-team ===================== index.html ================================================*/
.our-team{
    text-align: center;
}

.our-team-list{
    justify-content: space-between;
    padding-bottom: 94px;
}

.our-team h2{
    padding-top: 94px;
    margin-bottom: 50px;
}
        
    .our-team-member{
        background-color:var(--member-card-bg-color);
        width: 270px;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 
            0px 2px 1px rgba(0, 0, 0, 0.2),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;
    }

        .our-team-member b{
            font-family: var(--main-font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.9;
            text-align: center;
            color: var(--secondary-font-color);
        }

        .social{
            margin-bottom: 24px;
            justify-content: space-evenly;
        }

            .social li,
            .join li{
                height: 44px;
                background-repeat: no-repeat;
            }

                .social a,
                .join a{ /* .join icons in footer */
                    display: block;
                    width: 44px;
                    height: 44px;
                }
            
            .instagram {background-image: url("../images/instagramico.svg");}
            .twitter {background-image: url("../images/twitterico.svg");}
            .facebook {background-image: url("../images/facebookico.svg");}
            .linkedin {background-image: url("../images/linkedinico.svg");}
            


/*in section clients ===================== index.html ================================================*/
.clients{
    text-align: center;
    margin-top: 94px;
}
    .clients .section-title{
        margin-bottom: 50px;
    }

    .clients-list{
        justify-content: space-between;
        margin-bottom: 94px;
    }

    .clients li{
        width: 170px;
        line-height: 90px;
        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .clients li:hover{
        border: 1px solid var(--main-hover-color);
    }

    .clients a{
        background-position: center;
        background-repeat: no-repeat;
        display:block;
    }

        .client1{ background-image: url("../images/clients/client1.svg"); }
        .client2{ background-image: url("../images/clients/client2.svg"); }
        .client3{ background-image: url("../images/clients/client3.svg"); }
        .client4{ background-image: url("../images/clients/client4.svg"); }
        .client5{ background-image: url("../images/clients/client5.svg"); }
        .client6{ background-image: url("../images/clients/client6.svg"); }



/*in section portfolio ===================== portfolio.html ================================================*/    
.portfolio{
    margin-top: 93px;
    max-width: var(--max-width);
}

    .btn-group{
        margin-bottom: 50px;
        text-align: center;
        justify-content: center;
    }

    .btn-group li:not(:last-child){
        margin-right: 8px;
    }

        .btn-group button{
            padding: 6px 22px;
            font-size: 16px;
            line-height: 1.6;
            background-color: var(--secondary-bg-color);
            font-family: var(--main-font-family);
            font-weight: 700;
            letter-spacing: 0.05em;
            border: none;
            box-shadow:
                0px 2px 2px rgba(0, 0, 0, 0.12),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 3px 1px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }

        .btn-group button:hover,
        .btn-group button:focus{
            background-color: var(--main-hover-color);
            color: var(--secondary-bg-color);
        }

    .ul-portfolio{
        text-align: center;
        justify-content: space-between;
        margin-bottom: 30px;
        overflow: hidden;
        margin-bottom: 94px;
    }

        .ul-portfolio li{
            width: 370px;
            border: 1px solid #EEEEEE;
            box-sizing: border-box;
            margin-bottom: 30px;
        }

        .ul-portfolio li:nth-child(n+7){
            margin-bottom: 0
        }
        
            .ul-portfolio a{
                display: block;
                text-decoration: none;
                width: inherit;
            }
            
            .ul-portfolio li h2,
                .ul-portfolio li p{
                    padding-left: 24px;
                    text-align: left;
                }
                
                .ul-portfolio a h2{
                    margin-top: 20px;
                    color: var(--main-font-color);
                    font-family: var(--main-font-family);
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 2.25;
                    letter-spacing: 0.06em;
                }
                
                .ul-portfolio p{
                    margin-top: 9px;
                    padding-bottom: 20px;
                    color: var(--secondary-font-color);
                    font-family: var(--main-font-family);
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                }